<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ariful's portfolio website</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
  <!-- web fonts -->
  <link href="http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
  <!-- /web fonts -->
</head>

<body>
  <!-- header -->
  <header class="w3l-header">
    <div class="hero-header-11">
      <div class="hero-header-11-content">
        <div class="container">
          <nav class="navbar navbar-expand-xl navbar-light py-sm-2 py-1 px-0">
            <a class="navbar-brand editContent" href="#">AI</a>
            <!-- if logo is image enable this   
				<a class="navbar-brand" href="#index.html">
						<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
				</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Education">Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#gallery">Work</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Blocks
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#stats">Fun Facts</a>
                    <a class="dropdown-item" href="#testimonials">Testimonials</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- //header -->
  <!--  Main banner section -->
  <section class="w3l-main-banner">
    <div class="companies20-content">
      <div class="companies-wrapper">
        <div class="item">
          <li>
            <div class="slider-info banner-view">
              <div class="banner-info container">
                <h3 class="banner-text"><small>Hello, I’m</small><br>
                  Ariful
                </h3>
                <p class="my-4 mb-5">Programmer</p><br>
                <a href="#gallery" class="btn btn-info theme-button mr-3">My Work</a>
                <a href="#about.html" class="btn btn-outline-info theme-button">Hire Me</a>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </section>
  <!--  //Main banner section -->
  <!--  About section -->
  <div class="w3l-about1 pt-5" id="about">
    <div class="container pt-lg-3">
      <h3 class="global-title">About Me</h3>
      <div class="aboutgrids row">
        <div class="col-lg-6 aboutgrid2">
          <img src="{% static 'assets/images/about2.jpg' %}" alt="about image" class="img-fluid" />
        </div>
        <div class="col-lg-6 aboutgrid1 my-lg-0 my-5">
          <h4>Why hire me for your next project?</h4>
          <p>Programming is my passion. Because I love to solve  problem and find easy and better
            solutions to solve it. I always try my best to get the highest result. I have been Learning programming for 3 years</p>
          <p>I love competative programming, i perticipated various contest in <a href="https://codeforces.com/profile/Sabuj_arif" target="_blank">Codeforces</a> and <a href="https://www.hackerrank.com/arifuldesigner21" target="_blank">hackerrank</a> and several online judges.
          I have clear undersanding in Data stracture and algorithm. </p>

          <a href="{% static 'assets/images/Ariful islam.pdf' %}" class="btn btn-outline-primary p-3" download>Download CV</a>
        </div>
      </div>
    </div>

    <div class="aboutbottom py-5 mt-5">
      <div class="container py-lg-3">
        <div class="bottomgrids row">
          <div class="col-lg-3 col-md-6 bottomgrid1 mt-lg-0 mt-0">
            <h4>Languages</h4>
            <p><b> Python</b></p>
            <p> <b>Javascript</b></p>
            <p> <b>C </b></p>
            <p> <b>Html</b></p>
            <p> <b>Css</b></p>
          </div>

          <div class="col-lg-3 col-md-6 bottomgrid1 mt-md-0 mt-5">
            <h4>Frameworks</h4>
            <p> <b>Django</b></p>
            <p> <b>Django Rest Framework </b></p>
            <p> <b>jquery</b></p>
            <p> <b>Bootstrap</b></p>
          </div>

          <div class="col-lg-3 col-md-6 bottomgrid1 mt-lg-0 mt-5">
            <h4>Tools</h4>
            <p><b> Sql </b></p>
            <p><b> Postgresql </b></p>
            <p><b> Git</b></p>
            <p><b> GitHub</b></p>
            <p><b> Heroku </b></p>
        
          </div>
          <div class="col-lg-3 col-md-6 bottomgrid1 mt-lg-0 mt-5">
            <h4>Design Software </h4>
            <p><b> Illustrator</b></p>
            <p><b> Photoshop </b></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--  Work gallery section -->
  <div class="w3l-gallery2" id="gallery">
    <div class="insta-picks py-5">
      <div class="container py-lg-5">
        <h3 class="global-title">Latest Works</h3>

        <div class="row no-gutters masonry ">
          <div class="col-md-4 col-sm-6 brick m-5 "> 

            <a href="https://doctt.herokuapp.com/" target="_blank" >            
              <img src="{% static 'assets/images/doct.jpg' %}" class="img-fluid" alt="insta-pic" />
              
            </a>
          </div>

          <div class="col-md-4 col-sm-6 brick  m-5"> 

            <a href="https://phunt-clone.herokuapp.com/" target="_blank" >            
              <img src="{% static 'assets/images/phunt.jpg' %}" class="img-fluid" alt="insta-pic" />
              
            </a>
          </div>
          <div class="col-md-4 col-sm-6 brick  m-5"> 

            <a href="https://doctt.herokuapp.com/"  target="_blank">            
              <img src="{% static 'assets/images/abou.jpg' %}" class="img-fluid" alt="insta-pic" />
              
            </a>
          </div>
          

          <div class="col-md-4 col-sm-6 brick  m-5"> 

            <a href="https://doctt.herokuapp.com/"  target="_blank">            
              <img src="{% static 'assets/images/abou.jpg' %}" class="img-fluid" alt="insta-pic" />
              
            </a>
          </div>
        <!-- <div class="text-center">
          <a href="https://www.instagram.com/w3layouts_/" class="follow-insta-button btn btn-secondary p-3 mt-5" target="_blank">
            Follow me on Instagram
          </a>
        </div> -->
      </div>
    </div>
  </div>
  <!--  Fun facts section -->
  <section class="w3l-index2">
    <div class="main-w3 py-5" id="stats">
      <div class="container py-lg-3">
        <h3 class="global-title">Fun Facts</h3>
        <div class="row main-cont-wthree-fea text-center">
          <div class="col-lg-3 col-6 mt-4">
            <div class="grids-speci1">
              <span class="fa fa-tasks" aria-hidden="true"></span>
              <h3 class="title-spe">10+</h3>
              <p>Projects Done</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4">
            <div class="grids-speci1">
              <span class="fa fa-users" aria-hidden="true"></span>
              <h3 class="title-spe">500+</h3>
              <p> Sleepless Night</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4">
            <div class="grids-speci1">
              <span class="fa fa-trophy" aria-hidden="true"></span>
              <h3 class="title-spe">2000+</h3>
              <p>Working hours</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4">
            <div class="grids-speci1">
              <span class="fa fa-smile-o" aria-hidden="true"></span>
              <h3 class="title-spe">10k</h3>
              <p>Happy Smiles</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--  //Fun facts section -->

  <!--  Testimonials section -->
  <section class="w3l-testimonials" id="Education">
    <div class="customers-6-content py-5">
      <div class="container py-lg-3">
        <h3 class="global-title global-white">Educational Background</h3>
        <div class="customer row">
          <div class="col-lg-4 col-md-6 mt-md-3 mt-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="assets/images/c1.jpg" alt="">
              <h3 class="card-title">University</h3>
              <div class="card-body">
                <span class="fa fa-quote-left" aria-hidden="true"></span>
                <div class="card-text">
                  <p> Bangladesh University</p>
                  <p>Bachelor Of Science in<br> Computer Science and Engineering</p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-3 mt-5">
            <div class="card">
              <img class="card-img-top img-responsive" src="assets/images/c2.jpg" alt="">
              <h3 class="card-title">Collage</h3>
              <div class="card-body">
                <span class="fa fa-quote-left" aria-hidden="true"></span>
                <div class="card-text">
                  <p> Graphic Arts Institute</p>
                  <p>Diploma in Engineering in<br> Graphic Design Techonology</p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 mt-md-3 mt-5">
            <div class="card">
              <img class="card-img-top img-responsive" src="assets/images/c3.jpg" alt="">
              <h3 class="card-title">High School</h3>
              <div class="card-body">
                <span class="fa fa-quote-left" aria-hidden="true"></span>
                <div class="card-text">
                  <p>Bhurungamari Pilot High School</p>
                  <p>Depertment of Science </p>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  //Testimonials section -->
  <!-- Contact section -->
  <section class="w3l-contact py-5" id="contact">
    <div class="container py-lg-3">
      <h3 class="global-title">Drop me a Message</h3>
      <div class="row">
        <div class="col-md-8 contact-form">
          <form action="https://sendmail.w3layouts.com/submitForm" method="post">
            <input type="text" class="form-control" name="w3lName" placeholder="Name" /><br />
            <input type="email" class="form-control" name="w3lSender" placeholder="E-mail" /><br />
            <input type="text" class="form-control" name="w3lSubject" placeholder="Subject" /><br />
            <textarea class="form-control" name="w3lMessage" placeholder="Your Message" style="height:150px;"></textarea><br />
            <button class="btn btn-primary theme-button" type="submit">Send</button>
          </form>
        </div>
        <div class="col-md-4 mt-md-0 mt-5 w3-contact-address">
          <b>Address:</b>
          <p>Kaderabad Housing</p>
          <p>Mohammadpur</p>
          <p>Dhaka-1207</p>
          <p>Bangladesh</p>
          <br />
          <b>Phone:</b>
          <p><a href="tel:+11-22-55-66-05">+88-01302-558474</p>
          <p><a href="tel:+11-22-55-66-06">+88-01796-125226</p>
          <br />
          <b>Email:</b>
          <p><a href="mailto:arifuldesigner2014@gmail.com">arifuldesigner2014@gmail.com</a></p>
          <p><a href="mailto:arifuldesigner2014@gmail.com">arifulprogrammerbu@gmail.com</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- //Contact section -->
  <!-- freelance hire me -->
  <section class="w3l-grid-quote py-5">
    <div class="container py-lg-3">
      <h6>I'am available for freelance projects.</h6>
      <h3>Let's work together indeed!</h3>
      <a href="#contact" class="btn btn-primary theme-button">Get quotes</a>
      <a href="#url" class="btn btn-outline-primary theme-button ml-2">Hire me</a>
    </div>
  </section>
  <!-- //freelance hire me -->
  <!-- Footer -->
  <footer class="w3l-footer">
    <div id="footers14-block" class="py-3">
      <div class="container">
        <div class="footers14-bottom text-center">
          <div class="social">
            <a href="https://www.facebook.com/ariful2050/" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
            <a href="#google" class="google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
            <a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
            <a href="#https://www.instagram.com/ariful2050/" class="instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a>
            <a href="#youtube" class="youtube"><span class="fa fa-youtube" aria-hidden="true"></span></a>
          </div>
          <div class="copyright mt-1">
            <p>© 2021 AI. All Rights Reserved | Design by <a href="">Ariful</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up" aria-hidden="true"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->

  </footer>
  <!-- Footer -->

  <!-- jQuery and Bootstrap JS -->
  <script src="{% static 'assets/js/jquery-3.4.1.slim.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  <!-- Template JavaScript -->
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.popup-with-zoom-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-zoom-in'
      });

      $('.popup-with-move-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-slide-bottom'
      });
    });
  </script>

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->


  <script src="{% static 'assets/js/smartphoto.js'%}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const sm = new SmartPhoto(".js-img-viwer", {
        showAnimation: false
      });
      // sm.destroy();
    });
  </script>


</body>

</html>